
  @media (min-width: 990px) {
      
  }

/* Tablet-pro desktop :1024px. */
@media  (max-width: 1024px) {
}

/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
}


/* small mobile :825px. */
@media (max-width: 840px) {
  .collapse:not(.show) { display: none !important;}
  .container-fluid{padding: 0px 25px;}
  .enquire-now{margin-right: 80px;}
  .banner-bgm{height: 75vh;}
  .banner{height: 75vh;}
  h1{font-size: 45px;}
  .rs-mb-20{margin-bottom: 20px;}
  h2{font-size: 32px;}
  .social-icons{margin-bottom: 20px;}
  .footer-link{margin-bottom: 15px;}
  .ayurveda-image{margin-bottom: 20px;}
  .inner-ayurveda .leaf2{display: none;}
  .inner-ayurveda{padding-bottom: 30px;}
  .recent-blog{margin-top: 40px;}
  .product-list .product-box{margin-top: 15px;}
  .filter-icon{display: block; margin-bottom: 12px;}
  .filter-icon i{width: 40px; height: 40px; border-radius: 4px; border: 1px solid #663300 ; text-align: center; line-height: 40px;
  color: #663300;}
  .category-list{width: 0; overflow-x: hidden; transition: 0.5s; position: fixed; z-index: 1003; top: 0; left: 0; height: 100%;
  opacity: 0; border-radius: 0px; padding: 0px;}
  .category-list h4 span i{display: inline-block;}
  .owl-carousel .owl-nav button.owl-prev{left: 0;}
  .owl-carousel .owl-nav button.owl-next{left: auto;  right: 0px;}

}

/* small mobile :767px. */
@media (max-width: 767px) {
  body{font-size: 14px;}
  .container-fluid{padding: 0px 15px;}
  .enquire-now button{font-size: 12px;}
  header{padding: 10px 0px;}
  .enquire-now{margin-right: 40px;}
  .navbar-nav .nav-link.active::before, .navbar-nav .nav-link:hover:before{display: none;}
  .banner, .enduring-legacy, .ayurveda, .contactus, .blogs{padding: 30px 0px;}
  h1{font-size: 30px;}
  h2{font-size: 26px;}
  .banner h1{margin-top: 30px;}
   .leaf3, .bg-shape2{display: none;}
  .enduring-legacy ul li{font-size: 14px;}
  .since{max-width: 120px !important;}
  .features .col{flex: 1 0 50%;}
  .features h5{margin-bottom: 20px; font-size: 12px;}
  .features{padding-bottom: 30px;}
  .product-bgm{padding: 15px; text-align: center; padding-bottom: 60px;}
  .product-bgm .learn-more{top: 99%; width: 90%; right: inherit; left: 50%; transform: translate(-50%, 0);}
  .pepper{top: -220px;}
  .counter-box h3{font-size: 34px;}
  footer{padding-top: 30px;}
  .inner-pages h3{font-size: 30px;}
  .inner-pages{text-align: center;}
  .inner-about{padding: 0px 0px 30px;}
  .about-image img, .ayurveda-image img{max-width: 100%;}
  .about-image{margin-bottom: 30px;}
  .blog-box-list .blog-img{height: auto;}
  .blog-box-list .col-5{padding-right: 0px;}
  .blog-box-list h4{font-size: 14px; margin-bottom: 8px;}
  .blog-box-list p{font-size: 12px; line-height: 18px; margin-bottom: 8px;}
  .blog-box-list .learn-more{font-size: 12px;}
  .blog-box-list .learn-more img{max-width: 20px;}

  

}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
   
  
}

@media (max-width: 480px) {
  .call-icon, .whats-up, .top-btn {right: 5px;}
  .call-icon i, .whats-up i, .top-btn i{ width: 32px; height: 32px; line-height: 32px;}
  .call-icon{bottom: 47px;}
  .whats-up{bottom: 84px;}
  .owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next{left: 0px; width: 30px; height: 30px; line-height: 30px;
  font-size: 12px;}
  .owl-carousel .owl-nav button.owl-next{left: auto;  right: 0px;}
  .product-sort select{padding: 0px; font-size: 12px;}
  .show-items p{font-size: 12px;}
  .pagination-item{margin-right: 5px; padding: 8px 10px;}
  .product-list .product-box p{display: none;}
  .related-product{padding-top: 0px; padding-bottom: 30px;}
  .product-details{margin-top: 20px;}
  .product-table table th, .product-table td{padding: 6px; font-size: 12px;}
  .privacy-policy p, .privacy-policy ul li{font-size: 13px;}
  .privacy-policy ul{padding-left: 10px;}
  
}

@media (max-width: 380px) {

}
 